{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}

<h1 class="display-5 fw-bold text-body-emphasis repas">Compte-rendus</h1>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">animal</th>
        <th scope="col">Etat animal</th>
        <th scope="col">Nourriture</th>
        <th scope="col">Grammage nourriture</th>
        <th scope="col">Date</th>
        <th scope="col">Remarque</th>
        </tr>
    </thead>
    <tbody>
    {% for veterinaire in veterinaires %}
        <tr>
            <th scope="row">{{ veterinaire.id }}</th>
            <td>{{ veterinaire.prenom }}</td>
            <td>{{ veterinaire.etat }}</td>
            <td>{{ veterinaire.nourriture }}</td>
            <td>{{ veterinaire.grammage }}</td>
            <td>{{ veterinaire.date | date() }}</td>
            <td>{{ veterinaire.remarque }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <nav aria-label="Page navigation example">
  <ul class="pagination">
        <li class="page-item">
          <a class="" href="" >

          </a>
        </li>
  </ul>
</nav>
</div>
</div>

{% endblock %}
