{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}

{% for flashmess in app.flashes('success') %}
        <div class="alert alert-danger" role="alert">{{ flashmess }}</div>
{% endfor %}

<div class="mb-3 form-group alimentation">
  {{ form(formHabitatVet)}}  
</div>

<h1 class="display-5 fw-bold text-body-emphasis repas">Liste des commentaires</h1>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Habitat</th>
        <th scope="col">Commentaire</th>
        <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
    {% for commentaire in commentaires %}
        <tr>
            <th scope="row">{{ commentaire.habitat }}</th>
            <td>{{ commentaire.commentaire }}</td>
            <td>{{ commentaire.date | date('d/m/Y') }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>






{% endblock %}