{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="lead">
    <h1>Formulaire d'ajout d'utilisateur</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.roles) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe',
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Accepter les conditions',
        }) }}

        <button type="submit" class="btn">Ajouter un utilisateur</button>
    {{ form_end(registrationForm) }}
</div>

{% endblock %}




