{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}

{% for flashmess in app.flashes('success') %}
        <div class="alert alert-danger" role="alert">{{ flashmess }}</div>
    {% endfor %}

<div class="mb-3 form-group alimentation">
  {{ form(formServices)}}  
</div>

<h1>Liste des services</h1>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for service in services %}
        <tr>
            <th scope="row">{{ service.id }}</th>
            <td>{{ service.name }}</td>
            <td>{{ service.description }}</td>
            <td class="valider-btn"><a href="{{ path('app_editService', {'id': service.id}) }}">Modifier</a>
            <a href="{{ path('app_deleteService', {'id': service.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?')">Supprimer</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <nav aria-label="Page navigation example">
  <ul class="pagination">

        <li class="page-item">
          <a class="" active"" href="" >

          </a>
        </li>

  </ul>
</nav>
</div>
{% endblock %}

{% block javascripts %}
<script>
  $(document).ready(function(){
    $(".alert").delay(5000).slideUp(300);
});
</script>

{% endblock %}
